<div class='mx-auto container mt-5 mt-md-0'>
    <div class='row'>
        <div class='col-12 col-lg-9'>
            <div class='container'>
                <h4>Hi {{fullname}} ! </h4>
            </div>
            <div class='card bg-grey border-0 rounded mt-4'>
                <div class='card-body'>
                    <div class='card-title'>
                        Recent Tasks
                    </div>
                   

                </div>
                <a class='btn btn-primary bg-lightblue card-footer border-0' href='/mytask'>Manage Tasks</a>
            </div>
            
            <div class="row my-1 d-flex">
            </div>
        </div>
        <div class='col-12 col-lg-3'>
            <div class='card bg-grey border-0 rounded'>
                <div class='card-body'>
                    <!-- Dynamic content: Add to div via JS-->
                    <div class='card-title'>
                        My Account
                    </div>
                </div>
                <a class='btn btn-primary bg-lightblue card-footer border-0' href='/profile'>Account Settings</a>
            </div>
            <div class='card bg-grey border-0 rounded mt-4'>
                <div class='card-body'>
                    <div class='card-title'>
                        Recent Notifications
                    </div>
                </div>
                <a class='btn btn-primary bg-lightblue card-footer border-0' href='/notifications'> Notifications</i></a>
            </div>
        </div>
    </div>
</div>

