<div class='mx-auto container mt-5 mt-md-0'>
    <div class='row'>
        <div class='col-12 col-lg-9'>
               <div class='card bg-grey border-0 rounded mt-4'>
                <div class='card-body'>
                    <div class='card-title'>
                <center> <h3>Admin Dashboard</h3></center>  
                    </div>
    
                </div>
              
            </div>
 
              <div class='card bg-grey border-0 rounded mt-4'>
                <div class='card-body'>
                    <div class='card-title'>
                    Tasks List
                    </div>

                </div>
                <a class='btn btn-primary bg-lightblue card-footer border-0' href='/admin/managetasks'>Manage Tasks</a>
            </div>
             <div class='card bg-grey border-0 rounded mt-4'>
                <div class='card-body'>
                    <div class='card-title'>
                        Users List
                    </div>
                   

                </div>
                <a class='btn btn-primary bg-lightblue card-footer border-0' href='/admin/manageusers'>Manage Users</a>
            </div>
            <div class="row my-1 d-flex">
            </div>
        </div>
   <div class='col-12 col-lg-3'>
            <div class='card bg-grey border-0 rounded'>
                <div class='card-body'>
                    <!-- Dynamic content: Add to div via JS-->
                    <div class='card-title'>
                        My Account
                    </div>
                </div>
                <a class='btn btn-primary bg-lightblue card-footer border-0' href='/admin/profile'>Account Settings</a>
            </div>
         
        </div>
    </div>
</div>

