<div class="container">
			<h4 class="m-b-50 heading-line">Notifications <i class="fa fa-bell text-muted"></i></h4>

			<div class="notification-ui_dd-content">
				<div class="notification-list notification-list--unread">
					<div class="notification-list_content">
					
						<div class="notification-list_detail">
							<p class="text-muted">CSP650 Had Been Updated</p>
							
						</div>
					</div>

				</div>
				<div class="notification-list notification-list--unread">
					<div class="notification-list_content">
						
						<div class="notification-list_detail">
							<p class="text-muted">Lab 1 ITT632 Had Been Updated</p>
							
						</div>
					</div>
			
				</div>


		</div>
</div>