<div class='mx-auto container mt-5 mt-md-0'>
    <div class='row mt-3 ml-1'>
        <h3>My Tasks</h3>
    </div>
    &nbsp;
    <div id="btnAdd" class='row ml-1'>
        <button class='btn btn-success'>Add New Task</button>
    </div>
    <br>
    
        <form method="POST" action="/createTask" enctype="multipart/form-data">
            <div id="template" class='row mt-2 mb-4 ml-3 ml-md-0'>
                <div class='row media border container rounded'>
                  
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 media-body my-auto px-3">
                        &nbsp;
                        <div class="row">
                            <input class="d-none" type="text" name="id" value=''>
                            <div class="col-lg-6 mb-2 mb-md-0">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Title</span>
                                    </div>
                                    <input name="title" type="text" class="form-control" value='' aria-label="" aria-describedby="basic-addon1" required>
                                </div>          
                            </div>
                            <div class="col-lg-6 mb-2 mb-md-0">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Description</span>
                                    </div>
                                    <input name="description" type="text" class="form-control" value='' aria-label="" aria-describedby="basic-addon1" required>
                                </div>          
                            </div>
                        </div>
                         &nbsp;
                          <div class="row">
                            <input class="d-none" type="text" name="id" value=''>
                            <div class="col-lg-6 mb-2 mb-md-0">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Due Date</span>
                                    </div>
                                    <input name="date_of_due" type="date" class="form-control" value='' aria-label="" aria-describedby="basic-addon1" required>
                                </div>          
                            </div>
                            <div class="col-lg-6 mb-2 mb-md-0">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Type</span>
                                    </div>
                                    <input name="type" type="text" class="form-control" value='' aria-label="" aria-describedby="basic-addon1" required>
                                    
                                </div>          
                            </div>
                        </div>
                           &nbsp;
     
                        <div class="row mt-2 mb-3 px-3">
                            <button type="button" class='cancel-temp btn btn-danger border'>Cancel</button>
                            <button class='confirm-temp btn btn-success border ml-3'>Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>



 <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-10">

        <div class="card">
          <div class="card-header p-3">
            <h5 class="mb-0"><i ></i> Incomplete Tasks</h5>
          </div>
          <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 200px">

            <table class="table mb-0">
              <thead>
                <tr>
                  <th scope="col">Title</th>
                    <th scope="col">Assigned Date</th>
                  <th scope="col">Type</th>
                  <th scope="col">Due Date</th>
                  <th scope="col">Description</th>
                  <th scope="col">Status</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
 
       
        
              </tbody>
            </table>

          </div>

        </div>

      </div>
    </div>

&nbsp;
        <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-10">

        <div class="card">
          <div class="card-header p-3">
            <h5 class="mb-0"><i ></i> Completed Tasks </h5>
          </div>
          <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 200px">

            <table class="table mb-0">
              <thead>
                <tr>
                
                  <th scope="col">Title</th>
                    <th scope="col">Assigned Date</th>
                  <th scope="col">Type</th>
                  <th scope="col">Due Date</th>
                  <th scope="col">Description</th>
                  <th scope="col">Status</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                
        
              </tbody>
            </table>

          </div>
     
        </div>

      </div>
    </div>
  </div> 

<script>
    $(document).ready( function(){
        
        var name;
        var price;
        var targetInputs;
        var priceList
        $("#template").hide();
        $(".cancel").hide();
        $(".confirm").hide();
        $(".editicon").hide();
        $(".fileupload").hide();


        $("body").on("click", ".edit", function(){
            
            targetInputs = $(this).parent().parent().find("input");
            name = targetInputs[0].getAttribute("value");
            price = targetInputs[1].getAttribute("value");

            $(this).parent().children().filter(".edit").hide();
            $(this).parent().children().filter(".cancel").show();
            $(this).parent().children().filter(".delete").hide();
            $(this).parent().children().filter(".confirm").show();
            $(this).parent().children().filter(".editicon").show();

            for(i=0; i<targetInputs.length; i++)
            {
                targetInputs[i].removeAttribute("readonly")
            }
        });
        
        $("body").on("click", ".cancel", function(){
            targetInputs = $(this).parent().parent().find("input");
            for(i=0; i<targetInputs.length; i++)
            {
                targetInputs[i].setAttribute("readonly", true);
            }
            targetInputs[0].value = name;
            targetInputs[1].value = price;
            $(this).parent().children().filter(".edit").show();
            $(this).parent().children().filter(".cancel").hide();
            $(this).parent().children().filter(".delete").show();
            $(this).parent().children().filter(".confirm").hide();
            $(this).parent().children().filter(".editicon").hide();
            $(this).parent().children().filter(".fileupload").hide();
        });

        $("body").on("click", ".cancel-temp", function(){
            targetDiv = $(this).parent().parent().parent().parent().hide();;
        });

        $("body").on("click", ".delete", function(){
            targetDiv = $(this).parent().parent().parent().parent().hide();
        });

        $("body").on("click", ".confirm", function(){
            targetInputs = $(this).parent().parent().find("input");

            for(i=0; i<targetInputs.length; i++)
            {
                targetInputs[i].setAttribute("readonly", true);
            }

            $(".cancel").hide();
            $(".edit").show();
            $(".delete").show();
            $(".editicon").hide();
            $(".confirm").hide();
            $(this).parent().children().filter(".edit").show();
            $(this).parent().children().filter(".cancel").hide();
            $(this).parent().children().filter(".delete").show();
            $(this).parent().children().filter(".confirm").hide();
            $(this).parent().children().filter(".editicon").hide();
            $(this).parent().children().filter(".fileupload").hide();
        });

        $("#btnAdd").click( function(){
            $("#template").toggle();
        });

        $(".editicon").click(function ()
            {
                $(this).hide();
                $(this).siblings().filter(".fileupload").show();
            }
        );

        // Custom File Input - Show File Name
        $('.custom-file-input').on('change',function(){
                var fileName = $(this).val();
                $(this).next('.custom-file-label').html(fileName);
        })


        // Decimal two places
        var decimal = $(".decimal")

        for(i=0; i<decimal.length; i++)
        {
            newValue = $(decimal[i]).val();
            newValue = parseFloat(newValue);
            newValue = newValue.toFixed(2);
            $(decimal[i]).val(newValue);
        }
    });

</script>