<div class='mx-auto container mt-5 mt-md-0'>
    <div class='row mt-3 ml-1'>
      <h3>Welcome Back,{{username}}!</h3>
     </div>
      &nbsp;
   
  
    
    <a class='btn btn-primary bg-lightblue card-footer border-0' href='/addTask'>Add New Task</a>


 <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-10">

        <div class="card">
          <div class="card-header p-3">
            <h5 class="mb-0"><i ></i> Incomplete Tasks</h5>
          </div>
          <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 200px">

            <table class="table mb-0">
              <thead>
                <tr>
                  <th scope="col">Title</th>
                    <th scope="col">Assigned Date</th>
                  <th scope="col">Type</th>
                  <th scope="col">Due Date</th>
                  <th scope="col">Description</th>
                  <th scope="col">Status</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
 
       
        
              </tbody>
            </table>

          </div>

        </div>

      </div>
    </div>

&nbsp;
        <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-10">

        <div class="card">
          <div class="card-header p-3">
            <h5 class="mb-0"><i ></i> Completed Tasks </h5>
          </div>
          <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 200px">

            <table class="table mb-0">
              <thead>
                <tr>
                
                  <th scope="col">Title</th>
                    <th scope="col">Assigned Date</th>
                  <th scope="col">Type</th>
                  <th scope="col">Due Date</th>
                  <th scope="col">Description</th>
                  <th scope="col">Status</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                
        
              </tbody>
            </table>

          </div>
     
        </div>

      </div>
    </div>
  </div> 

